@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - KnowledgeBase</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@

    <partial name="_Favicons" />
    <link rel="stylesheet" href="~/css/global.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">*@
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md border-bottom box-shadow mb-3 justify-content-between">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/LogoBrain.png" class="logo" alt="KnowlegeBase" /></a>
                <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars" style="color:#FFFFFF;"></span>
                </button>

                <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Subjects" asp-action="Index">@Localizer["Subjects"]</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                @await Component.InvokeAsync("ReviewCounter")

                                <a class="nav-link" asp-area="" asp-controller="Review" asp-action="Index">@Localizer["Review"]</a>

                            </li>



                        }
                        <li class="mr-auto"></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer["Admin"]
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" asp-controller="Users" asp-action="Index">@Localizer["Users"]</a>
                                            <a class="dropdown-item" asp-controller="Roles" asp-action="Index">@Localizer["Roles"]</a>
                                        </div>
                                    </div>
                                </li>

                            }

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Profile">@Localizer["Profile"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                            </li>
                        }
                    </ul>
                </div>


                @*<div class="">
                        <ul class="navbar-nav flex-grow-1">

                            </ul>
                    </div>*@





            </div>
        </nav>
    </header>


    <div class="container-fluid">
        <main role="main" class="p-4">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">


            <small>&copy; 2020 - KnowledgeBase</small>
            <div class="float-right mt-0">
                <i class="fas fa-globe fa-lg mr-1" style="vertical-align: middle;"></i>
                <div class="btn-group">
                    <a class="btn btn-sm btn-light"
                       asp-route-returnUrl=@(Context.Request.Path+Context.Request.QueryString)
                       asp-route-culture="ru"
                       asp-controller="Home"
                       asp-action="SetLanguage">Ru</a>
                    <a class="btn btn-sm btn-light"
                       asp-route-returnUrl=@(Context.Request.Path+Context.Request.QueryString)
                       asp-route-culture="en"
                       asp-controller="Home"
                       asp-action="SetLanguage">En</a>
                </div>
            </div>
            

            

        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
