@model Topic
@inject IViewLocalizer Localizer

<div class="card small-card m-3">

    <div class="card-header text-dark">
        @Model.Name

        @if (Model.TimesRepeated > 0)
        {
        <span class="badge badge-pill badge-success">@Localizer["ReviewedBadge"] @Model.TimesRepeated</span>
        }
        else
        {
    <span class="badge badge-pill badge-primary">@Localizer["NotReviewedBadge"]</span>
        }
    </div>
    <div class="card-body">

        <table class="table mx-auto w-auto">
            <tbody>
                <tr>
                    <td>@Localizer["LearnedRow"]: </td>
                    <td>@Model.DateLearned.ToShortDateString()</td>
                </tr>
                @if (Model.NextRepeat != DateTime.MinValue)
                {
                    <tr>
                        <td>@Localizer["NextReviewRow"]: </td>
                        <td>@Model.NextRepeat.ToShortDateString()</td>
                    </tr>
                }
                @if (Model.Description != null)
                {
                    <tr>
                        <td>@Localizer["DescriptionRow"]: </td>
                        <td>@Model.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="btn-group">

        <a class="btn btn-light" asp-controller="Review" asp-action="Topic" asp-route-topicId="@Model.Id">@Localizer["ReviewedButton"]</a>
        <a class="btn btn-light" asp-controller="Subjects" asp-action="Topic" asp-route-topicId="@Model.Id">@Localizer["EditButton"]</a>
    </div>
</div>