@model Topic



<div class="card bg-light small-card" style="max-width: 22rem;">


    <div class="card-header text-dark">
        @Model.Name

        @if (Model.TimesRepeated > 0)
        {
            <span class="badge badge-pill badge-success">Reviewed @Model.TimesRepeated</span>
        }
        else
        {
            <span class="badge badge-pill badge-primary">Not reviewed yet</span>
        }
    </div>
    <div class="card-body">

        <p>DateLearned: @Model.DateLearned </p>
        @if (Model.NextRepeat != DateTime.MinValue)
        {
            <p>NextRepeat: @Model.NextRepeat</p>
        }
        @if (Model.Description != null)
        {
            <p>Description: @Model.Description</p>
        }
    </div>

    <div class="btn-group mb-3">

        <a class="btn btn-primary btn-sm" asp-controller="Review" asp-action="Topic" asp-route-topicId="@Model.Id">Review</a>
        <a class="btn btn-secondary btn-sm" asp-controller="Subjects" asp-action="Topic" asp-route-topicId="@Model.Id">Edit</a>

        @*<a class="btn btn-danger btn-sm delete-card-button" asp-controller="Subjects" asp-action="DeleteTopic" asp-route-topicId="@topic.Id">Delete</a>*@

    </div>

</div>