@model Subject
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h1 class="display-4">Subjects</h1>
    <br />
    <form asp-controller="Subjects" asp-action="Edit" asp-route-id="@Model.Id" method="post">
        <label asp-for="Name"> </label>
        <input type="text" asp-for="Name" />
        <h2>Subject @Model.Name</h2>
        <div class="validation" asp-validation-summary="All"></div>
        <button class="btn-primary" type="submit">Submit</button>
    </form>
    @if (Model.Themes == null)
    {
        <i>No themes</i>
    }
    else
    {
        @foreach (var theme in Model.Themes)
        {
            <div>
                <h6> @theme.Name</h6>

                <b>DateLearned: </b>@theme.DateLearned
                <b>NextRepeat: </b>@theme.NextRepeat
                <b>TimesRepeated: </b>@theme.TimesRepeated
                <b>Description: </b>@theme.Description<br />
                <a asp-controller="Subjects" asp-action="Theme" asp-route-subjectId="@Model.Id" asp-route-themeId="@theme.Id">Detail</a>
            </div>
        }
    }



    <a asp-controller="Subjects" asp-action="Index">Back</a>
    <a asp-controller="Subjects" asp-action="Delete" asp-route-subjectId="@Model.Id">Delete subject</a>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
