@model Subject
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-8 bg-light border">
            <div class="card-columns p-3">
                

                    @if ((Model.Themes == null) || (Model.Themes.Count == 0))
                    {
                        <br />
                        <i>Your themes will be here</i>
                    }
                    else
                    {

                        @foreach (var theme in Model.Themes)
                        {
                            <div class="card bg-light" style="max-width: 22rem;">
                                <div class="card-header">Theme</div>
                                <div class="card-body">
                                    <h5 class="card-title"> @theme.Name</h5>

                                    <p><b>DateLearned: </b>@theme.DateLearned </p>
                                    @if (theme.NextRepeat != DateTime.MinValue)
                                    {
                                        <p><b>NextRepeat: </b>@theme.NextRepeat</p>
                                    }
                                    <p><b>TimesRepeated: </b>@theme.TimesRepeated</p>
                                    @if (@theme.Description != null)
                                    {
                                        <p><b>Description: </b>@theme.Description</p>
                                    }
                                </div>

                                <div class="btn-group mb-3">


                                    <a class="btn btn-secondary btn-sm" asp-controller="Subjects" asp-action="Theme" asp-route-themeId="@theme.Id">Detail</a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Subjects" asp-action="DeleteTheme" asp-route-themeId="@theme.Id">Delete</a>

                                </div>

                            </div>
                        }

                    }
                </div>

            </div>
        <div class="col-sm-4">

            <div class="card p-3 bg-light">
                <h3 class="card-title">@Model.Name</h3>
                <div class="card-body">
                    <form class="m-2" asp-controller="Subjects" asp-action="EditSubject" asp-route-subjectId="@Model.Id" method="post">
                        <div class="validation" asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="Id" class="form-control" placeholder="Subject name..">
                        <input type="hidden" asp-for="UserId">
                        <div class="input-group mb-3">
                            <input type="text" asp-for="Name" class="form-control" placeholder="Subject name..">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Change name</button>
                            </div>
                        </div>
                    </form>

                    <p>Lorem ipsum</p>


                </div>
                <div class="btn-group">
                <a class="btn btn-primary" asp-controller="Subjects" asp-action="CreateTheme" asp-route-subjectId="@Model.Id">Create theme</a>
                <a class="btn btn-secondary" asp-controller="Subjects" asp-action="Index">Back</a>
                <a class="btn btn-danger" asp-controller="Subjects" asp-action="DeleteSubject" asp-route-subjectId="@Model.Id">Delete subject</a>
                </div>
                
            </div>

        </div>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
