@model Subject
@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <div class="row">

        <div class="col-sm-4 mb-3 mb-sm-0">
            <form class="m-2" asp-controller="Subjects" asp-action="EditSubject" asp-route-subjectId="@Model.Id" method="post">

                <div class="card bg-light big-card">

                    @*<h3 class="card-title">@Model.Name</h3>*@
                    <div class="card-header detail">Subject properties</div>










                    <!-- Delete subject confirmation -->
                    <div class="modal fade" id="deleteSubjectConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title  ml-auto" id="exampleModalCenterTitle">Delete confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you want to delete @Model.Name? All its topics will be deleted!
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger" asp-controller="Subjects" asp-action="DeleteSubject" asp-route-subjectId="@Model.Id">Delete subject</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="validation" asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="Id" class="form-control" placeholder="Subject name..">
                        <input type="hidden" asp-for="UserId">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                @*<button class="btn btn-primary" type="submit">Save name</button>*@
                                <label class="input-group-text" asp-for="Name"></label>
                            </div>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Subject name..">
                        </div>
                        <p>Lorem ipsum</p>
                        @*<a class="btn btn-info" type="submit" asp-controller="Subjects" asp-action="CreateTopic" asp-route-subjectId="@Model.Id">Create topic</a>*@
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary" type="submit" href="javascript: history.go(-1)">Back</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteSubjectConfirmation">
                            Delete subject
                        </button>
                    </div>


                </div>

            </form>
        </div>



        <div class="col-sm-8 ">
            <div class="card bg-light">
                <div class="card-header"> <span class="absolute-center">@Model.Name Topics</span>

                    <a class="float-right add-button" asp-controller="Subjects" asp-action="CreateTopic" asp-route-subjectId="@Model.Id">
                        Add
                        <i  class="fas fa-plus-square fa-lg"></i>
                    </a>
                
                </div>
                @*<a class="btn btn-info" type="submit" asp-controller="Subjects" asp-action="CreateTopic" asp-route-subjectId="@Model.Id">Create topic</a>*@
                <div class="row justify-content-center p-3">
                    @if ((Model.Topics == null) || (Model.Topics.Count == 0))
                    {
                        <br />
                        <i>You haven`t added any topics</i>
                    }
                    else
                    {
                        @foreach (var topic in Model.Topics)
                        {
                            <partial name="_TopicCard" model=topic />
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />


}
