@model Subject
@{
    ViewData["Title"] = "Details";
}

    <div class="text-center">
        <h1 class="display-4">Subject @Model.Name</h1>
        <hr />
        <form class="m-2" asp-controller="Subjects" asp-action="EditSubject" asp-route-subjectId="@Model.Id" method="post">
            <div class="validation" asp-validation-summary="All"></div>
            <div class="input-group mb-3">
                <input type="text" asp-for="Name" class="form-control" placeholder="Subject name..">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Change name</button>
                </div>
            </div>
        </form>
        @if (Model.Themes == null)
        {
            <i>No themes</i>
        }
        else
        {
            <div class="card-columns">
                @foreach (var theme in Model.Themes)
                {
                    <div class="card bg-light">
                        <div class="card-body">
                            <h6 class="card-title"> @theme.Name</h6>

                            <b>DateLearned: </b>@theme.DateLearned
                            @if (theme.NextRepeat != DateTime.MinValue)
                            {<b>NextRepeat: </b>@theme.NextRepeat}
                            <b>TimesRepeated: </b>@theme.TimesRepeated
                            <b>Description: </b>@theme.Description<br />
                            <a class="btn btn-secondary btn-sm" asp-controller="Subjects" asp-action="Theme" asp-route-subjectId="@Model.Id" asp-route-themeId="@theme.Id">Detail</a>
                            <a class="btn btn-danger btn-sm" asp-controller="Subjects" asp-action="DeleteTheme" asp-route-subjectId="@Model.Id" asp-route-themeId="@theme.Id">Delete</a>


                        </div>
                    </div>
                }
            </div>
        }
        <a class="btn btn-primary" asp-controller="Subjects" asp-action="CreateTheme" asp-route-subjectId="@Model.Id">Create theme</a>
        <a class="btn btn-secondary" asp-controller="Subjects" asp-action="Index">Back</a>
        <a class="btn btn-danger" asp-controller="Subjects" asp-action="DeleteSubject" asp-route-subjectId="@Model.Id">Delete subject</a>
    </div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
