@model Topic
@{
    ViewData["Title"] = "Topic";
}
<div class="text-center">
    <form method="post" id="save-theme">





        <!-- Delete topic confirmation -->
        <div class="modal fade" id="deleteTopicConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title  ml-auto" id="exampleModalCenterTitle">Delete confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to delete @Model.Name? This action cannot be undone!
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-danger" asp-controller="Subjects" asp-action="DeleteTopic" asp-route-topicId="@Model.Id">Delete topic</a>
                    </div>
                </div>
            </div>
        </div>





        <div class="row">

            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card bg-light">
                    <div class="card-header detail">Topic</div>
                    <div class="card-body">
                        <div class="validation" asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="Id">
                        <input type="hidden" asp-for="SubjectId">
                        <input type="hidden" asp-for="UserId">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Name"></label>
                            </div>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Topic name">

                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="Description"></label>
                            </div>
                            <input type="text" asp-for="Description" class="form-control" placeholder="Provide some description">

                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" asp-for="DateLearned"></label>
                            </div>
                            <input type="datetime-local" asp-for="DateLearned" class="form-control">

                        </div>
                        @if (Model.RepeatDates.Count > 0)
                        {
                            @for (int i = 0; i < Model.RepeatDates.Count; i++)
                            {
                                <div class="input-group mb-3 repeat-date repeat-date-deletable" id="@i">
                                    <div class="input-group-prepend">
                                        @*<label class="input-group-text" asp-for="RepeatDates[i].Date"></label>*@
                                        <div class="input-group-text">
                                            <input type="checkbox" asp-for="RepeatDates[i].Repeated" />
                                        </div>

                                    </div>
                                    <input type="datetime-local" asp-for="RepeatDates[i].Date" class="form-control">
                                    <input type="hidden" asp-for="RepeatDates[i].Id">

                                    <div class="input-group-append delete-date-button">
                                        <span class="input-group-text"><i class="fas fa-trash"></i></span>
                                    </div>
                                </div>
                            }
                            <span class="add-repeat-date"><i class="fas fa-plus"></i></span>
                        }
                        else
                        {
                            <a class="btn btn-secondary" asp-action="AddRepeat" asp-route-subjectId="@Model.SubjectId" asp-route-topicId="@Model.Id">Add repeat dates</a>
                        }
                        <br /><br />
                        <div class="btn-group">
                            <button class="btn btn-primary" type="submit">Save changes</button>
                            <a class="btn btn-secondary" href="javascript: history.go(-1)">Back</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteTopicConfirmation">Delete topic</button>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-sm-8">
                <div class="card bg-light border">
                    <div class="card-header">Notes</div>
                    <textarea id="mytextarea" class="bg-light" asp-for="Notes">Here you can type some notes</textarea>
                </div>
            </div>


        </div>
    </form>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

@section HeadScripts
{
    <script src="https://cdn.tiny.cloud/1/1sb38u376a8ulm88ac0aab6gulkw3lx4avevpvcg3dglkqn0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="~/js/tinymce.js"></script>

    <script>

       

        function renumerateForm() {
            var newId = 0;
            $(".repeat-date").each(function () {
                var oldId = Number($(this).attr("id"));
                $(this).attr("id", newId);
                var oldData = $("label", this).attr("for");
                $("label", this).attr("for", oldData.replace(oldId, newId));
                oldData = $("label", this).html();
                $("label", this).html(oldData.replace(oldId, newId));


                oldData = $("input[type='datetime-local']", this).attr("name");
                $("input[type='datetime-local']", this).attr("name", oldData.replace(oldId, newId));

                oldData = $("input[type='hidden']", this).attr("name");
                $("input[type='hidden']", this).attr("name", oldData.replace(oldId, newId));

                oldData = $("input[type='datetime-local']", this).attr("id");
                $("input[type='datetime-local']", this).attr("id", oldData.replace(oldId, newId));

                oldData = $("input[type='hidden']", this).attr("id");
                $("input[type='hidden']", this).attr("id", oldData.replace(oldId, newId));
                newId++;
            });
        }

        function addDeleteEvent(elem) {
            $(".delete-date-button", elem).click(function () {
                $(elem).remove();
                renumerateForm();
            });
            //$(elem).hover(function () {
            //    $(".delete-date-button", elem).show();
            //}, function () {
            //    $(".delete-date-button", elem).hide();
            //});
        }

        $("document").ready(function () {
            $(".add-repeat-date").click(function () {
                var elem = $(".repeat-date").last().clone();
                $("input[type='hidden']", elem).attr("value", "0");
                addDeleteEvent(elem);
                $(this).before(elem);
                renumerateForm();
            });

            //$(".delete-date-button").hide();

            $(".repeat-date").each(function () {
                addDeleteEvent(this);
            })

            $(".delete-detail-button").click(function (e) {
                e.preventDefault();
                this.innerHTML = "Confirm delete";
                $(this).removeClass("btn-danger");
                $(this).css("background-color", "#ff0000");
                $(this).css("color", "#ffffff");
                $(".detail").css("background-color", "#ff0000");

                $(this).unbind('click');

            })



        });

    </script>



}

